ScaffelPikeClient/Connected Services/ScaffelPikeServiceReference/ScaeffelPike.Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://ScaeffelPike.Service" elementFormDefault="qualified" targetNamespace="http://ScaeffelPike.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" />
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" minOccurs="0" name="LogInResult" nillable="true" type="q1:PasswordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn2AsyncMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn2AsyncMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" minOccurs="0" name="LogIn2AsyncMethodResult" nillable="true" type="q2:PasswordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn3Task">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn3TaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" minOccurs="0" name="LogIn3TaskResult" nillable="true" type="q3:PasswordDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>