ScaffelPikeClient/Connected Services/ScaffelPikeServiceReference/ScaffelPikeLib.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PasswordDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="OtherData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PasswordDto" nillable="true" type="tns:PasswordDto" />
</xs:schema>