ScaffelPikeClient/Connected Services/ScaffelPikeServiceClient/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://ScaeffelPike.Service" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" targetNamespace="http://ScaeffelPike.Service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://ScaeffelPike.Service/Imports">
      <xsd:import schemaLocation="http://localhost:8080/ScaffelPikeService/ScaffelPikeService/?xsd=xsd0" namespace="http://ScaeffelPike.Service" />
      <xsd:import schemaLocation="http://localhost:8080/ScaffelPikeService/ScaffelPikeService/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/ScaffelPikeService/ScaffelPikeService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScaffelPikeLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IScaffelPikeService_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IScaffelPikeService_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IScaffelPikeService_RecieveHeartbeat_InputMessage">
    <wsdl:part name="parameters" element="tns:RecieveHeartbeat" />
  </wsdl:message>
  <wsdl:message name="IScaffelPikeService_RecieveHeartbeat_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecieveHeartbeatResponse" />
  </wsdl:message>
  <wsdl:portType name="IScaffelPikeService">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://ScaeffelPike.Service/IScaffelPikeService/LogIn" message="tns:IScaffelPikeService_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://ScaeffelPike.Service/IScaffelPikeService/LogInResponse" message="tns:IScaffelPikeService_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecieveHeartbeat">
      <wsdl:input wsaw:Action="http://ScaeffelPike.Service/IScaffelPikeService/RecieveHeartbeat" message="tns:IScaffelPikeService_RecieveHeartbeat_InputMessage" />
      <wsdl:output wsaw:Action="http://ScaeffelPike.Service/IScaffelPikeService/RecieveHeartbeatResponse" message="tns:IScaffelPikeService_RecieveHeartbeat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>